build/
dist/
Example_Python_Package.egg-info/
.idea/
venv/
COAsT/__pycache__/
example_scripts/__pycache__/
.eggs/

COAsT.egg-info/

*.png
example_files/
example_scripts/temp*py

unit_testing/*log

.ipynb_checkpoints/

*.DS_Store
