build/
dist/
Example_Python_Package.egg-info/
.idea/
venv/
COAsT/__pycache__/
example_scripts/__pycache__/
.eggs/

COAsT.egg-info/
*.nc
*.png
example_files/
example_scripts/temp*py

unit_testing/*log

.ipynb_checkpoints/

*.pyc

*.DS_Store

.vscode
# development ignores
sandbox.py

config/nemo_tst_gridded.json
.coverage
unit_testing/coverage.txt

docs/source/generated/

docstring2md.log

example_scripts/notebooks/markdown/*

markdown/
.python-version